article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
header {
  background-color: #149BAD;
  color: #fff;
  height: 20px;
  padding: 20px;
}
.headerMain {
  float: left;
  margin: 0px 0px 0px 150px;
}
.headerTail {
  float: right;
  margin: 0px 150px 0px 0px;
}
.signButton {
  margin: 0px 3px 0px 3px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
