header {
  background-color: #149BAD;
  color: #fff;
  height: 20px;
  padding: 20px;
}
.headerMain {
  float: left;
  margin: 0px 0px 0px 150px;
}
.headerTail {
  float: right;
  margin: 0px 150px 0px 0px;
}
.signButton {
  margin: 0px 3px 0px 3px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
body {
  font-family: 'Microsoft YaHei';
  font-size: larger;
  color: #434343;
  background: #efefef url('http://jayli.github.io/gallery/yuislide/assets/background.png') repeat top center;
}
.articleMain {
  float: left;
  margin: 100px 0px 0px 250px;
}
.articleTail {
  float: right;
  margin: 100px 250px 0px 0px;
}
.articleMiddle {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 350px;
  position: relative;
}
article {
  margin: 30px 10px 10px 10px;
}
.captchaImage {
  width: 150px;
  height: 30px;
}
.refreshCaptchaButton {
  margin: 5px 5px 25px 5px;
  width: 50px;
}
