body {
  font-family: 'Microsoft YaHei';
  font-size: larger;
}
header {
  background-color: #149BAD;
  color: #fff;
  height: 20px;
  padding: 20px;
}
.headerMain {
  float: left;
  margin: 0px 0px 0px 150px;
}
.headerTail {
  float: right;
  margin: 0px 150px 0px 0px;
}
.signButton {
  margin: 0px 3px 0px 3px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
body {
  font-family: 'Microsoft YaHei';
  font-size: larger;
  color: #434343;
  background: #efefef url('http://jayli.github.io/gallery/yuislide/assets/background.png') repeat top center;
  margin: 0;
  padding: 0;
  height: 100%;
}
.articleMain {
  float: left;
  margin: 100px 0px 0px 250px;
}
.articleTail {
  float: right;
  margin: 100px 250px 0px 0px;
}
.articleMiddle {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 350px;
  position: relative;
}
article {
  width: 1200px;
  margin: 0 auto;
}
.submitButton {
  font-size: larger;
}
.submitButtonContainer {
  margin-top: 10px;
  margin-right: 5px;
  float: right;
}
.titleContainer {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.editorContainer {
  width: 1000px;
}
.editorContainer2 {
  width: 980px;
}
.titleNode {
  width: 80%;
  height: 30px;
}
.titleText {
  font-size: medium;
  font-family: 'Microsoft YaHei';
  vertical-align: middle;
}
.titleText2 {
  font-size: large;
  font-family: 'Microsoft YaHei';
  vertical-align: middle;
}
.writerContainer {
  margin: 10px 0px 10px 0px;
  float: right;
  color: #999;
  font-style: italic;
}
.left {
  width: 100px;
  height: 120px;
  float: left;
}
.right {
  width: 50px;
  height: 120px;
  float: right;
}
.middle {
  height: 100%;
  width: auto;
  float: left;
}
.clear {
  clear: both;
}
